<aside class="stub-message">
  <h2>This is a stub article!</h2>

  <div class="iframe-wrapper">
    <iframe width="450"
            height="350"
            src="https://www.youtube.com/embed/Jj2ma1zQEA4?start=7&controls=0&modestbranding=1&rel=0"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>

  <p>
    You could really help us out by extending it! If you know something about 
    this, <a href="https://github.com/enginecommerce/engine-theme-manual">contribute on GitHub</a>.
  </p>
<aside>